# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# --- Banco de Dados ---
instance/
*.db
*.sqlite
*.sqlite3

# --- Flask & Ambiente ---
.target
.flaskenv
.env
.env.secret
.venv

# --- VS Code & IDEs ---
.vscode/
.idea/
*.swp
*.swo

# --- Sistema (Ubuntu/Linux) ---
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*~

# --- Distribuição ---
dist/
build/
*.egg-info/