<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canivete - {% block title %}{% endblock %}</title>

    <link rel="icon" type="image/webp" href="{{ url_for('static', filename='img/ico_canivete.webp') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
</head>

<body>
    <header class="navbar">
        <div class="container">
            <h1 class="logo">
                <img src="{{ url_for('static', filename='img/logo_canivete.webp') }}" alt="Logo Canivete"
                    style="height: 70px; vertical-align: middle; margin-right: 8px;">
                <span style="vertical-align: middle;">Canivete</span>
            </h1>

            <button class="menu-toggle" id="menu-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <nav id="nav-menu">
                <ul class="nav-links">
                    <li><a href="{{ url_for('moedas.home') }}">Moedas</a></li>
                    <li><a href="{{ url_for('medidas.home') }}">Medidas</a></li>
                    <li><a href="{{ url_for('cep.home') }}">CEP</a></li>
                    <li><a href="{{ url_for('loterias.home') }}">Loterias</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer class="footer">
        <p>&copy; 2026 Canivete Multiferramentas - Desenvolvido em Python/Flask</p>
    </footer>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    {% block scripts %}{% endblock %}
</body>

</html>